body{
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size:18px;
}

div{
	padding: 30px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

h1{
	font-size: 33px;
    line-height: 80px;
	margin-top:0px;
	font-weight: bolder;
	text-shadow: 1px 1px 3px lightgrey;
}

h2{
	font-size:25px;
	margin-top:0px;
	text-shadow: 1px 1px 3px lightgrey;
	font-weight: bolder;
}

.footer {
	background-color: black;
	color: white;
	padding-bottom: 5px; 
}
.footer a {
	color: lightgrey;
	font-size: 30px;
	margin:30px;
}
.footer a:hover {
	color: white;
}

.filters, .row, .container, .col-xs-4, .click{
	padding: 0px;
}

#header{
	text-shadow: 1px 1px 3px lightgrey;
	/*background-color: rgb(13,45,164);*/
	color: black;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 10px
}
#intro {
	text-align: center;
}
#intro, .lowPart{
    margin-bottom:0px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}

.click{
	margin-top: 0px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
}
.lowPart {
	background-color: black;
	background-size: cover;
}

#hidden {
	color: rgba(255,255,255,0);
}
#logo {
	width:40%;
}
.fond_bleu {
	background-image: linear-gradient(0deg, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.6) 90%), url("image/fondbleu.svg");
	background-size: cover;
	padding:15px;
}
.btn_top {
	padding: 10px;
	font-style: normal;
	color: white;
    font-size: 20px;
    line-height: 1.33;
    font-weight: 400;
	background-color: #3071a9;
    border: 1px solid transparent;
	border-color: #357ebd;
    border-radius: 6px;
    text-align: center;
    white-space: nowrap;
}
.btn_top:hover {
	text-decoration: none;
	background-color: #20388E;
	font-style: normal;
	color: white;
}
.btn_bottom {
	padding: 10px;
	font-style: normal;
	color: lightgrey;
    font-size: 20px;
    line-height: 1.33;
    font-weight: 400;
	background-color: rgba(255,255,255,0.00);
    border: 1px solid transparent;
	border-color: lightgrey;
    border-radius: 6px;
    text-align: center;
    white-space: nowrap;
}
.click_bottom {
	margin-top: -80px;
}
.btn_bottom:hover {
	text-decoration: none;
	background-color: rgba(255,255,255,0.00);
	border-color: white;
	color: white;
}
#pictos {
	padding: 40px;
	color: black;
	text-shadow: 1px 1px 1px lightgrey;
}
#mask {
	position: relative;
	top: -90px;
	background-color: black;
	background-size: cover;
}
.text-center {
	text-align: center;
    left: 0px;
    right: 0px;
}










.rw-wrapper{
	text-align: center;
	font-size:25px;
	margin-top:0px;
	/*text-shadow: 1px 1px 3px lightgrey;*/
	font-weight: bolder;

	font-family: 'Raleway', sans-serif;
	/*position: relative;*/
	/*margin: 110px auto 0 auto;*/
	padding: 20px;
	margin-bottom: 10px;
}
.rw-sentence{
	font-size:25px;
	margin-top:0px;
	text-shadow: 1px 1px 3px lightgrey;
	font-weight: bolder;
	margin: 0;
	text-align: center;
	/*text-shadow: 1px 1px 1px rgba(255,255,255,0.8);*/
}
.rw-sentence span{
	text-align: center;
	font-size:25px;
	margin-top:0px;
	/*text-shadow: 1px 1px 3px lightgrey;*/
	font-weight: bolder;
	/*color: #444;*/
	/*white-space: nowrap;*/
}
.rw-words{
	font-size:25px;
	margin-top:0px;
	/*text-shadow: 1px 1px 3px lightgrey;*/
	font-weight: bolder;
	display: inline;
	text-indent: 0px;
	text-align: center;
}
.rw-words span{
	position: relative;
	text-align: center;
	text-indent: 0px;
	opacity: 0;
	overflow: visible;
}
.rw-words-1 span{
	position: absolute;
	opacity: 0;
	overflow: visible;
	/*color: #6b969d;*/
	-webkit-animation: rotateWord 18s linear infinite 0s;
	-ms-animation: rotateWord 18s linear infinite 0s;
	animation: rotateWord 15s linear infinite 0s;
}
.rw-words-1 span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
	-ms-animation-delay: 3s; 
	animation-delay: 3s; 
	/*color: #6b889d;*/
}
.rw-words-1 span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
	-ms-animation-delay: 6s; 
	animation-delay: 6s; 
	/*color: #6b739d;	*/
}
.rw-words-1 span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
	-ms-animation-delay: 9s; 
	animation-delay: 9s; 
	/*color: #7a6b9d;*/
}
.rw-words-1 span:nth-child(5) { 
    -webkit-animation-delay: 12s; 
	-ms-animation-delay: 12s; 
	animation-delay: 12s; 
	/*color: #8d6b9d;*/
}
.rw-words-1 span:nth-child(6) { 
    -webkit-animation-delay: 15s; 
	-ms-animation-delay: 15s; 
	animation-delay: 15s; 
	/*color: #9b6b9d;*/
}
@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
	5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
	20% { opacity: 0; -ms-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@media screen and (max-width: 768px){
	.rw-sentence { font-size: 18px; }
}
@media screen and (max-width: 320px){
	.rw-sentence { font-size: 9px; }
}


/*translate(-1px, -201px)*/